vagrant/
*.pyc
*py*.egg
AUTHORS
ChangeLog
.DS_Store
cuedashboard.egg*
cue_dashboard.egg*
build/
.eggs/
.idea/
cover/
*.lock
.secret_key_store

# Unit test / coverage reports
htmlcov/
.tox/
.testrepository/
.coverage
.cache
nosetests.xml
coverage.xml


